body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    position: relative;
}

#clock, #date {
    font-size: 72px;
    background-color: #333333;
    color: #fff;
    width: 50rem;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#date {
    top: calc(50% + 150px); /* Adjust vertical position of date */
}
